@charset "UTF-8";
/* unused, height issue */
.stretched-link::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent; }

.entity-context label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  .entity-context label:hover {
    overflow: visible;
    color: black;
    position: relative;
    z-index: 1; }
    .entity-context label:hover > * {
      background: white;
      outline: 2px solid white;
      isolation: isolate; }
      .entity-context label:hover > * :after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        pointer-events: auto;
        content: "";
        background-color: transparent; }

.entity-context a {
  color: inherit; }

.entity-context legend {
  display: none; }

.entity-context fieldset {
  display: block;
  position: relative; }
  .entity-context fieldset > legend {
    font-size: inherit; }

.entity-context .entity-relation > ol {
  padding: 0;
  list-style: none; }

.entity-context ol[data-flavor=block] > li:not(:first-child),
.entity-context ol[data-flavor=page] > li:not(:first-child) {
  margin-top: 2em; }

.entity-context ol[data-flavor=page] > li > fieldset {
  margin-top: 1em; }
  .entity-context ol[data-flavor=page] > li > fieldset > legend {
    display: block;
    position: absolute;
    top: 0;
    left: -10px;
    text-align: right;
    width: 5em;
    margin-left: -5em; }
  .entity-context ol[data-flavor=page] > li > fieldset[data-layout=grid3] {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 10px; }

.entity-context ol[data-flavor=page] > li > fieldset > .entity-relation.is-empty > ol:before {
  font-style: italic;
  content: "none"; }

.entity-context .entity-relation.is-empty > ol[data-flavor=page]:before {
  font-style: italic;
  content: "no results"; }

.entity-context label {
  display: block;
  /* labels are inline by default */
  font-variant: small-caps;
  text-transform: lowercase;
  color: #ccc;
  font-weight: bold;
  margin-bottom: 0; }

.entity-context .entity-relation > label span:not(:first-child) {
  font-size: .75em; }
  .entity-context .entity-relation > label span:not(:first-child):before {
    content: " in "; }
  .entity-context .entity-relation > label span:not(:first-child).entity-relation-name-fk:before {
    content: " through "; }

.entity-context .entity-column > label {
  font-size: .8em;
  margin-bottom: -.5em; }

.entity-context .null-value:before {
  font-style: italic;
  content: "null"; }

.entity-context .empty-value:before {
  font-style: italic;
  content: "empty"; }

.entity-context .ws-value:before {
  font-style: italic;
  content: "whitespace"; }

.entity-context .entity-thumb {
  font-variant: small-caps;
  font-weight: 900;
  /* a whole space is way too much, so we go with a tiny margin */
  margin-right: .12em; }

.entity-context ol[data-flavor=page] > li > fieldset > div[data-group=name] > .column > div {
  font-size: 2.5em;
  font-weight: 200; }

.entity-context ol[data-flavor=page] > li.potentially-last:after {
  display: block;
  margin-top: .4em;
  margin-left: -.12em;
  font-size: 5em;
  color: #ccc;
  content: "⋮"; }

.entity-context ol[data-flavor=inline] {
  /* No labels and legends, and without labels unproper content is meaningless. */ }
  .entity-context ol[data-flavor=inline] > li {
    display: inline-block; }
  .entity-context ol[data-flavor=inline] > li * {
    display: inline; }
  .entity-context ol[data-flavor=inline] li:not(:last-child):after {
    content: ", ";
    margin-right: 4px; }
  .entity-context ol[data-flavor=inline] li.potentially-last * {
    display: none !important;
    /*width: 0;
            height: 0;
            overflow: hidden;*/ }
  .entity-context ol[data-flavor=inline] li.potentially-last:after {
    content: "..."; }
  .entity-context ol[data-flavor=inline] label, .entity-context ol[data-flavor=inline] legend, .entity-context ol[data-flavor=inline] .relation.is-empty > ul, .entity-context ol[data-flavor=inline] .relation.is-empty > ol, .entity-context ol[data-flavor=inline] .null-value, .entity-context ol[data-flavor=inline] .empty-value, .entity-context ol[data-flavor=inline] .ws-value {
    display: none; }
  .entity-context ol[data-flavor=inline] ol[data-flavor=inline2] {
    font-size: .75em;
    /* limiting headers works, but we either need to do it for all headers
                or go back to the name-is-just-a-column approach
            */ }
    .entity-context ol[data-flavor=inline] ol[data-flavor=inline2] > li > header {
      display: inline-flex;
      max-width: 8em; }
      .entity-context ol[data-flavor=inline] ol[data-flavor=inline2] > li > header > a, .entity-context ol[data-flavor=inline] ol[data-flavor=inline2] > li > header span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
    .entity-context ol[data-flavor=inline] ol[data-flavor=inline2] > li:before {
      margin-left: .2em;
      content: "in "; }
    .entity-context ol[data-flavor=inline] ol[data-flavor=inline2] > li:not(:last-child):after {
      content: ", "; }

.entity-context .relation.is-empty {
  display: none; }
