
.entity-context fieldset {
    min-height: 10px;
    border-left: solid .2em beige;
    padding-left: .4em;
}

.entity-context ol {
    padding: 0;
    list-style: none;
}

.entity-context label {
    font-variant: small-caps;
    text-transform: lowercase;
    color: gray;
    margin-bottom: 0;
}

.entity-context fieldset {
    display: flex;
    flex-wrap: wrap;
}

.entity-context .column {
    flex: 0 0 50%;
    max-width: 50%;
}

.entity-context .relation {
    flex: 0 0 100%;
    max-width: 100%;
}

.entity-context .column,
.entity-context .relation,
.entity-context fieldset {
    margin-bottom: .5em;
}

.entity-context .null-value:before {
    font-style: italic;
    content: "null";
}

.entity-context ol[data-flavor=inline] > li {
    display: inline-block;
}

.entity-context ol[data-flavor=inline] label {
    display: none;
}