<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>

	<!-- 
		See http://nlog-project.org/wiki/Configuration_file 
		for information on customizing logging rules and outputs.
	-->

	<targets>
		<target xsi:type="SplitGroup" name="General">
			<target
			  xsi:type="Console"
			  layout="${level:uppercase=true} ${logger} ${message}"
			/>
			<target
			  xsi:type="Debugger"
			  layout="${level:uppercase=true} ${logger} ${message}"
			/>
		</target>
	</targets>

	<rules>
    <logger name="Squil.Pages.Query" minlevel="info" writeTo="General" />
    
		<logger name="*" minlevel="info" writeTo="General" />
	</rules>
</nlog>
