<nlog
	xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
>

	<!-- 
		See http://nlog-project.org/wiki/Configuration_file 
		for information on customizing logging rules and outputs.
	-->

	<targets>
		<target xsi:type="SplitGroup" name="General">
			<target
			  xsi:type="Console"
			  layout="${date:ss.ff} ${level:uppercase=true} ${logger} ${message}${exception:tostring}"
			/>
			<target
			  xsi:type="Debugger"
			  layout="${date:ss.ff} ${level:uppercase=true} ${logger} ${message}${exception:tostring}"
			/>
		</target>
	</targets>

	<rules>
    <logger name="Squil.Pages.Query" minlevel="info" writeTo="General" />
		<logger minlevel="info"  writeTo="General" final="true" name="Squil.Pages.Ui" />
		<logger minlevel="debug" writeTo="General" final="true" name="Squil.Shared.Entities.EntityColumnView" />

		<logger name="*" minlevel="info" writeTo="General" />
	</rules>
</nlog>
