<p>
    StackOverflow releases anonymized dumps of their databases as xml files stored at <a href="https://archive.org/details/stackexchange">archive.org</a>.
    Brent Ozar
    <a href="https://www.brentozar.com/archive/2021/03/download-the-current-stack-overflow-database-for-free-2021-02/">kindly provides SQL Server versions</a>
    of these dumps. This is the Medium (50GB) version of them.
</p>

<p>The dumps come without nontrivial indexes or foreign key information, so those were added by me.</p>
