@charset "UTF-8";
/* unused, height issue */
.entity-context {
  --entity-bg-prev: white;
  /* old inline */
}
.entity-context li.ellipsis {
  display: none;
}
.entity-context label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entity-context label:hover {
  overflow: visible;
  color: black;
  position: relative;
  z-index: 1;
}
.entity-context label:hover > * {
  /*          Taking this out so long as we don't have an example where it's needed.  
                  background: white;
                  outline: 2px solid white;
                  isolation: isolate;
  */
}
.entity-context label:hover > * :after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
.entity-context a {
  color: inherit;
}
.entity-context header {
  display: flex;
}
.entity-context header > a, .entity-context header span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entity-context legend {
  display: none;
}
.entity-context fieldset {
  display: block;
  position: relative;
}
.entity-context fieldset > legend {
  font-size: inherit;
}
.entity-context .entity-relation > ol {
  padding: 0;
  list-style: none;
}
.entity-context ol:empty:before {
  content: "-";
}
.entity-context ol {
  position: relative;
}
.entity-context ol[data-flavor=block] > li:not(:first-child),
.entity-context ol[data-flavor=page] > li:not(:first-child) {
  margin-top: 2em;
}
.entity-context ol[data-flavor=block] > li:first-child,
.entity-context ol[data-flavor=page] > li:first-child {
  margin-top: 0.5em;
}
.entity-context ol[data-flavor=block] > li,
.entity-context ol[data-flavor=page] > li {
  margin: -10px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--entity-bg-0);
  --entity-bg-prev: var(--entity-bg-0);
}
.entity-context ol[data-flavor=block] > li > header,
.entity-context ol[data-flavor=page] > li > header {
  font-size: 2em;
  font-weight: 200;
}
.entity-context ol[data-flavor=page] > li > fieldset {
  margin-top: 1em;
}
.entity-context ol[data-flavor=page] > li > fieldset > legend {
  display: block;
  position: absolute;
  top: 0;
  left: -20px;
  text-align: right;
  width: 5em;
  margin-left: -5em;
}
.entity-context ol[data-flavor=page] > li > fieldset[data-layout=grid3] {
  display: grid;
  column-gap: 0.25em;
  row-gap: 0.25em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.entity-context ol[data-flavor=page] > li > fieldset > .entity-relation.is-empty > ol:before {
  font-style: italic;
  content: "none";
}
.entity-context .entity-relation.is-empty > ol[data-flavor=page]:before {
  font-style: italic;
  content: "no results";
}
.entity-context label {
  display: block;
  /* labels are inline by default */
  font-variant: small-caps;
  text-transform: lowercase;
  color: #ccc;
  font-weight: bold;
  margin-bottom: 0;
}
.entity-context .entity-relation > label span:not(:first-child) {
  font-size: 0.75em;
}
.entity-context .entity-relation > label span:not(:first-child):before {
  content: " in ";
}
.entity-context .entity-relation > label span:not(:first-child).entity-relation-name-fk:before {
  content: " through ";
}
.entity-context .entity-column > label {
  font-size: 0.8em;
  margin-bottom: -0.5em;
}
.entity-context .entity-column > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entity-context .null-value:before {
  font-style: italic;
  content: "null";
}
.entity-context .empty-value:before {
  font-style: italic;
  content: "empty";
}
.entity-context .ws-value:before {
  font-style: italic;
  content: "whitespace";
}
.entity-context .entity-thumb {
  font-variant: small-caps;
  font-weight: 900;
  /* a whole space is way too much, so we go with a tiny margin */
  margin-right: 0.12em;
}
.entity-context ol[data-flavor=page] > li.potentially-last:after {
  display: block;
  margin-top: 0.4em;
  margin-left: -0.12em;
  font-size: 5em;
  color: #ccc;
  content: "⋮";
}
.entity-context ol[data-flavor=inline] {
  display: grid;
  column-gap: 0.25em;
  row-gap: 0.25em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.entity-context ol[data-flavor=inline] label, .entity-context ol[data-flavor=inline] legend, .entity-context ol[data-flavor=inline] .relation.is-empty > ul, .entity-context ol[data-flavor=inline] .relation.is-empty > ol, .entity-context ol[data-flavor=inline] .null-value, .entity-context ol[data-flavor=inline] .empty-value, .entity-context ol[data-flavor=inline] .ws-value {
  display: none;
}
.entity-context ol[data-flavor=inline] > li {
  background-color: var(--entity-bg-1);
  padding: 0.125em 0.5em;
  border-radius: 5px;
  position: relative;
}
.entity-context ol[data-flavor=inline] > li > header > a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
.entity-context ol[data-flavor=inline] > li ol[data-flavor=inline2] {
  font-size: 0.75em;
}
.entity-context ol[data-flavor=inline] > li ol[data-flavor=inline2] > li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entity-context ol[data-flavor=inline] > li ol[data-flavor=inline2] > li:before {
  content: "in ";
}
.entity-context ol[data-flavor=inline] > li ol[data-flavor=inline2] > li * {
  display: inline;
}
.entity-context ol[data-flavor=inline] > li.ellipsis {
  background-color: var(--entity-bg-prev);
  height: 32px;
  width: 32px;
  border-radius: 0;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: path("M 24 27.999 C 24 29.325 22.925 30.4 21.599 30.4 C 20.273 30.4 19.198 29.325 19.198 27.999 C 19.198 26.673 20.273 25.598 21.599 25.598 C 22.925 25.598 24 26.673 24 27.999 Z M 30.402 27.999 C 30.402 29.325 29.327 30.4 28.001 30.4 C 26.675 30.4 25.6 29.325 25.6 27.999 C 25.6 26.673 26.675 25.598 28.001 25.598 C 29.327 25.598 30.402 26.673 30.402 27.999 Z M 17.6 28 C 17.6 29.325 16.525 30.4 15.2 30.4 C 13.875 30.4 12.8 29.325 12.8 28 C 12.8 26.675 13.875 25.6 15.2 25.6 C 16.525 25.6 17.6 26.675 17.6 28 Z M 33.6 33.6 L 33.6 0 L 32 0 L 0 32 L 0 33.6 L 32 33.6 L 33.6 33.6 Z");
}
.entity-context ol[data-flavor=inline-old] {
  /* No labels and legends, and without labels unproper content is meaningless. */
}
.entity-context ol[data-flavor=inline-old] > li {
  display: inline-block;
}
.entity-context ol[data-flavor=inline-old] > li header {
  max-width: 8em;
}
.entity-context ol[data-flavor=inline-old] > li * {
  display: inline;
}
.entity-context ol[data-flavor=inline-old] > li header {
  display: inline-flex;
}
.entity-context ol[data-flavor=inline-old] li:not(:last-child):after {
  content: ", ";
  margin-right: 4px;
}
.entity-context ol[data-flavor=inline-old] li.potentially-last * {
  display: none !important;
  /*width: 0;
  height: 0;
  overflow: hidden;*/
}
.entity-context ol[data-flavor=inline-old] li.potentially-last:after {
  content: "...";
}
.entity-context ol[data-flavor=inline-old] label, .entity-context ol[data-flavor=inline-old] legend, .entity-context ol[data-flavor=inline-old] .relation.is-empty > ul, .entity-context ol[data-flavor=inline-old] .relation.is-empty > ol, .entity-context ol[data-flavor=inline-old] .null-value, .entity-context ol[data-flavor=inline-old] .empty-value, .entity-context ol[data-flavor=inline-old] .ws-value {
  display: none;
}
.entity-context ol[data-flavor=inline-old] ol[data-flavor=inline2] {
  font-size: 0.75em;
}
.entity-context ol[data-flavor=inline-old] ol[data-flavor=inline2] > li:before {
  margin-left: 0.2em;
  content: "in ";
}
.entity-context ol[data-flavor=inline-old] ol[data-flavor=inline2] > li:not(:last-child):after {
  content: ", ";
}
.entity-context .relation.is-empty {
  display: none;
}
