.search-panel-spacer {
  height: calc(var(--search-height) + var(--validation-height));
}

@media (min-width: 768px) {
  .search-panel-spacer {
    height: 0;
  }
}
.search-panel.show {
  position: fixed;
  background: white;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
  padding: 0.5em 0;
  margin: 0 -1px;
}
.search-panel.show > *:not(.indexes-form) {
  padding: 0 15px;
}
.search-panel.show .index.no-index {
  display: none;
}
.search-panel .validation-area {
  position: absolute;
  left: 1px;
  right: 1px;
  background: white;
  padding: 0 1em;
  text-align: right;
  z-index: 1;
}
.search-panel .validation-display {
  font-size: 0.75em;
  font-weight: bold;
}
.search-panel .more-search-options-button {
  display: none;
  text-align: right;
  cursor: pointer;
}
.search-panel .search-panel-close-button {
  display: block;
}
.search-panel:not(.show) .search-panel-close-button {
  display: none;
}
.search-panel:not(.show) > *:not(.indexes-form) {
  visibility: hidden;
  pointer-events: none;
}
@media (min-width: 768px) {
  .search-panel:not(.show) > *:not(.indexes-form) {
    visibility: visible;
    pointer-events: all;
  }
}
.search-panel:not(.show) .indexes-form {
  position: absolute;
  visibility: hidden;
}
.search-panel:not(.show) .indexes-form .index.current {
  position: fixed;
  visibility: visible;
  top: var(--header-height);
  z-index: 2;
  left: -1px;
  right: -1px;
}
.search-panel:not(.show) .indexes-form .more-search-options-button {
  display: block;
}
@media (min-width: 768px) {
  .search-panel:not(.show) .indexes-form {
    /* relative for validation display positioning */
    position: relative;
    visibility: visible;
  }
  .search-panel:not(.show) .indexes-form .index.current {
    position: static;
  }
  .search-panel:not(.show) .indexes-form .more-search-options-button {
    display: none;
  }
  .search-panel:not(.show) .indexes-form .index.no-index {
    display: none;
  }
}

.indexes-unsupported {
  font-size: 1em;
  margin-top: 1em;
}
.indexes-unsupported .index-name {
  font-variant: small-caps;
  font-weight: bold;
  text-transform: lowercase;
  line-height: 1em;
}
.indexes-unsupported .unsupported-tag {
  font-weight: bold;
  margin-top: 1em;
}
.indexes-unsupported .unsupported-reason {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.indexes-form .outline-none,
.indexes-form .outline-none:focus {
  outline: none;
}
.indexes-form .index {
  /* font-size: .75rem;
  line-height: 1rem; */
  display: block;
  margin-top: -1px;
}
.indexes-form fieldset {
  overflow-x: auto;
}
.indexes-form .index-columns {
  min-height: 2em;
}
.indexes-form .index-column {
  white-space: nowrap;
  background: white;
  flex: 1 1 auto;
  border: 1px solid #eee;
  position: relative;
}
.indexes-form .no-index-column {
  justify-content: center;
  text-transform: uppercase;
}
.indexes-form .index.current .index-column {
  height: var(--search-height);
}
.indexes-form .index-column-error {
  border-color: red;
  z-index: 1;
}
.indexes-form .index-column:not(:first-child) {
  border-left: 0 !important;
}
.indexes-form .index-column-name {
  height: 17px;
  pointer-events: none;
  padding: 0 0.5rem;
  font-variant: small-caps;
  color: #ccc;
  font-weight: bold;
  text-transform: lowercase;
  font-size: 0.8rem;
}
.indexes-form .index-column-value {
  min-height: 1rem;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
  border: none;
  outline: none;
  display: block;
  background: transparent;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
.indexes-form .index-column-value:not(:empty) + .index-column-name {
  opacity: 0;
}
