@page "/info/{connectionName}"

@inject ILiveSourceProvider Connections

@{
    var connection = Connections.GetLiveSource(ConnectionName);

    var report = PointsOfInterestManager.Instance.GetReport(connection.CircularModel);
}

<DefaultLayout>
    <ChildContent>
        <div class="container mt-4">
            <div class="row">
                @foreach (var part in report)
                {
                    <div class="col-12 col-md-4 mb-4">
                        <div class="card">
                            <div class="card-header">
                                <h6>@part.title</h6>
                            </div>
                            <div class="card-body scroll-panel" style="height: 10em">
                                @foreach (var item in part.items)
                                {
                                    <div>@item</div>
                                }
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </ChildContent>
</DefaultLayout>


@code {
    [Parameter]
    public String ConnectionName { get; set; }
}
