@page "/info/{connectionName}"

@inject ConnectionManager Connections

@{
    var connection = Connections.GetContext(ConnectionName);

    var report = PointsOfInterestManager.Instance.GetReport(connection.CircularModel);
}

@foreach(var part in report)
{
    <section>
        <h6>@part.title</h6>

        @foreach (var item in part.items)
        {
            <div>@item</div>
        }
    </section>
}


@code {
    [Parameter]
    public String ConnectionName { get; set; }
}
