@model Acidui.Controllers.QueryController.IndexVm

@{
    ViewData["Title"] = "Home Page";
}

<div class="entity-context">
    @Html.Raw(Model.Html)

    @*<pre class="debug-xml-original">
        @Model.Html
    </pre>*@

</div>
