
.layout {
    display: flex;
    gap: 15px;
    flex: 1 1 0;
}

.left,
.right {
    padding: 0 15px;
    overflow: hidden;
}

.right {
    flex: 1 0 0;
}

.left {
    flex: 3 0 0;
    position: absolute;
}

    .right {
        display: none;
    }

.middle {
    padding: 0 15px;
    width: 100%;
    position: relative;
}

@media (min-width: 576px) {
    .middle {
        width: 100% /*540px*/;
    }
}

@media (min-width: 768px) {
    .middle {
        width: 540px /*720px*/;
    }

    .left {
        position: static;
    }
}

@media (min-width: 992px) {
    .middle {
        width: 540px /*960px*/;
    }

    .right {
        display: block;
    }
}

@media (min-width: 1200px) {
    .middle {
        width: 720px /*1140px*/;
    }
}

@media (min-width: 1400px) {
    .middle {
        width: 720px /*1320px*/;
    }

    .left {
        flex: 1 0 0;
    }
}
