@inherits LayoutComponentBase

<PageTitle>SQuiL</PageTitle>

<div class="semantic-body d-flex flex-column">
    <div class="d-flex" />

    <div class="flex-1">
        @Body
    </div>

    <nav class="border-top navbar navbar-expand-sm footer text-muted">
        <div class="container-fluid mx-4">
            <ul class="flex-fill nav navbar-nav me-auto">
                <li class="nav-item me-auto">
                    <span class="navbar-text d-inline-block">SQuiL &copy; @DateTime.Now.Year - Jens Theisen</span>
                </li>
                <li class="nav-item"><a class="nav-link text-muted" href="https://squil.net">Introduction</a></li>
                <li class="nav-item"><a class="nav-link text-muted d-none d-md-block" href="https://github.com/jtheisen/squil">GitHub</a></li>
            </ul>
        </div>
    </nav>
</div>