@using System.Diagnostics
@using Squil.Shared.Indexing.Fields

<div class="indexes-form">

    <p>
        You can search by the following indexes on this table.
    </p>

    @if (!Vm.Result.IsValidationOk)
    {
        
    }

    @foreach (var index in Vm.Indexes)
    {
        if (!index.Index.IsSupported) continue;

        var url = index.IsCurrent ? null : QueryContext.RenderIndexUrl(index.Index, Vm.Result.Entity.ColumnValues);

        <a href="@url">
            <IndexLine Index="@index" HiddenPrefixLength="@Vm.KeyValuesCount" SearchValues="@SearchValues" />
        </a>
    }

    @foreach (var index in Vm.Indexes)
    {
        if (index.Index.IsSupported) continue;
    }
</div>

<UnsupportedIndexesPanel Indexes="Vm.Indexes" />

@code {
    [CascadingParameter]
    public QueryContext QueryContext { get; set; }

    [Parameter]
    public LocationQueryVm Vm { get; set; }

    [Parameter]
    public IMap<String, String> SearchValues { get; set; }
}
