@{
    var groups = from i in Indexes
                 where !i.Index.IsSupported
                 group i by i.Index.UnsupportedReason into g
                 select g;
}

<div class="indexes-unsupported">
    @foreach (var g in groups)
    {
        <div class="unsupported-index">
            <div class="unsupported-tag">@g.Key.Tag</div>
            <div class="unsupported-reason">@g.Key.Reason</div>
            @foreach (var i in g)
            {
                <div class="index-name">@i.Index.Name</div>
            }
        </div>
    }
</div>

@code {
    [Parameter]
    public IndexVm[] Indexes { get; set; }
}
