<div class="list-group-item bg-light d-flex">
    <div class="me-auto"><i class="text-muted fas fa-server me-2" />@Host.Name</div>

    @if (Host.IsLoading)
    {
        <div class="spinner-border spinner-border-sm" />
    }

    <div class="d-flex gap-3 text-muted">
        <a class="cursor-pointer" @onclick="Refresh"><i class="fas fa-redo-alt" /></a>
        @if (OnEdit != null)
        {
            <a class="cursor-pointer" @onclick="() => OnEdit(Host)"><i class="fas fa-pen" /></a>
        }
    </div>
</div>

@if (Host.SelectedCatalogs is SqlConnectionExtensions.SqlCatalog[] catalogs)
{
    if (catalogs.Length > 0)
    {
        foreach (var catalog in catalogs)
        {
            <a @key="catalog" href="/ui/@catalog.Name@@@Host.Name" class="list-group-item list-group-item-action">
                <i class="text-muted fas fa-database ms-2 me-2" />@catalog.Name
            </a>
        }
    }
    else
    {
        <span class="list-group-item">
            <em>Source can be accessed but selected database is inaccessible or missing</em>
        </span>
    }
}
else if (Host.Error != null)
{
    <span class="list-group-item list-group-item-danger">
        <small>@Host.Error.Message</small>
    </span>
}

<RerenderHelper Observable="Host" OnChange="StateHasChanged" />

@code {
    [Parameter]
    public LiveSqlServerHost Host { get; set; }

    [Parameter]
    public RenderFragment Actions { get; set; }

    [Parameter]
    public Action<LiveSqlServerHost> OnEdit { get; set; }

    protected override void OnParametersSet()
    {
        Host.Refresh().Ignore();
    }

    void Refresh()
    {
        Host.Refresh().Ignore();
    }
}
