@inject LiveConfiguration configuration

@{
    var hosts = configuration.GetLiveSqlServerHosts();
}

<button class="btn btn-sm" @onclick="AddHost">
    <i class="far fa-plus me-1" />new
</button>

@foreach (var host in hosts)
{
    var h = host;

    <SqlServerHost @key="host.Id" Host="host">
        <Actions>
            <button class="btn btn-sm" @onclick="() => EditHost(h)"><i class="fas fa-edit align-baseline" /></button>
        </Actions>
    </SqlServerHost>
}

<ServerModal OnClose="@editModalSubscription">
    <Title>Add connection</Title>
    <Body>
        <EditSqlServerHost Model="@editedHostConfiguration" OnSubmit="@SaveHost" />
    </Body>
</ServerModal>

<RerenderHelper Observable="configuration.ObservableSqlServerHosts" OnChange="StateHasChanged" />

@code {
    SqlServerHostConfiguration editedHostConfiguration;

    Action editModalSubscription;

    void AddHost()
    {
        EditHost(configuration.CreateLiveServerHost());
    }

    void EditHost(LiveSqlServerHost host)
    {
        editedHostConfiguration = host.Configuration;
        editModalSubscription = () => { editModalSubscription = null; editedHostConfiguration = null; StateHasChanged(); };
        StateHasChanged();
    }

    void SaveHost(SqlServerHostConfiguration hostConfiguration)
    {
        configuration.UpdateSqlServerHost(hostConfiguration);
        editModalSubscription = null; editedHostConfiguration = null;
        StateHasChanged();
    }
}
