/* unused, height issue */
.relation-debug-info {
  display: grid;
  gap: 0.25em 1.5em;
  grid-template-columns: 1fr 1fr;
}
.relation-debug-info > * {
  white-space: nowrap;
}
.relation-debug-info > div:nth-child(2n+1) {
  text-align: right;
}
.relation-debug-info ul {
  list-style: none;
  font-size: 0.75em;
}
.relation-debug-info ul > li.selected {
  font-weight: bold;
}

.entity-context {
  --entity-bg-prev: white;
}
.entity-context.entity-invalid {
  opacity: 0.5;
}
.entity-context li.list-marker {
  display: none;
}
.entity-context label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entity-context label:hover {
  overflow: visible;
  color: black;
  position: relative;
  z-index: 1;
}
.entity-context label:hover > * {
  /*          Taking this out so long as we don't have an example where it's needed.  
                  background: white;
                  outline: 2px solid white;
                  isolation: isolate;
  */
}
.entity-context label:hover > *:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
.entity-context header {
  display: flex;
}
.entity-context header > a, .entity-context header span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entity-context legend {
  display: none;
}
.entity-context fieldset {
  display: block;
  position: relative;
}
.entity-context fieldset > legend {
  font-size: inherit;
}
.entity-context .entity-relation > ol {
  padding: 0;
  list-style: none;
}
.entity-context ol:empty:before {
  content: "-";
}
.entity-context ol {
  position: relative;
}
.entity-context ol[data-flavor=block] > li.list-marker.list-marker-border {
  padding-top: 0;
  padding-bottom: 0;
}
.entity-context ol[data-flavor=block] > li.list-marker.list-marker-border span:nth-child(1) {
  display: block;
  border-bottom: 1px solid black;
  font-variant: small-caps;
  text-transform: lowercase;
  font-weight: bold;
  color: #ccc;
  margin: 0 -25px;
  padding: 0 25px;
}
@media (min-width: 768px) {
  .entity-context ol[data-flavor=block] > li.list-marker.list-marker-border span:nth-child(1) {
    margin: 0 -5px;
    padding: 0 5px;
  }
}
.entity-context ol[data-flavor=block] > li.list-marker,
.entity-context ol[data-flavor=page] > li.list-marker,
.entity-context ol[data-flavor=column-page] > li.list-marker {
  display: block;
}
.entity-context ol[data-flavor=block] > li:not(:first-child),
.entity-context ol[data-flavor=page] > li:not(:first-child),
.entity-context ol[data-flavor=column-page] > li:not(:first-child) {
  margin-top: 2em;
}
.entity-context ol[data-flavor=block] > li:first-child,
.entity-context ol[data-flavor=page] > li:first-child,
.entity-context ol[data-flavor=column-page] > li:first-child {
  margin-top: 0.5em;
}
.entity-context ol[data-flavor=block] > li:not(.list-marker),
.entity-context ol[data-flavor=page] > li:not(.list-marker),
.entity-context ol[data-flavor=column-page] > li:not(.list-marker) {
  background-color: var(--entity-bg-0);
  --entity-bg-prev: var(--entity-bg-0);
}
.entity-context ol[data-flavor=block] > li,
.entity-context ol[data-flavor=page] > li,
.entity-context ol[data-flavor=column-page] > li {
  margin: -10px;
  padding: 10px;
  border-radius: 5px;
}
.entity-context ol[data-flavor=block] > li > header,
.entity-context ol[data-flavor=page] > li > header,
.entity-context ol[data-flavor=column-page] > li > header {
  font-size: 2em;
  font-weight: 200;
}
.entity-context ol[data-flavor=block] > li > fieldset[data-layout=grid3],
.entity-context ol[data-flavor=page] > li > fieldset[data-layout=grid3],
.entity-context ol[data-flavor=column-page] > li > fieldset[data-layout=grid3] {
  display: grid;
  column-gap: 1em;
  row-gap: 0.25em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.entity-context ol[data-flavor=block] > li > fieldset[data-layout=grid1],
.entity-context ol[data-flavor=page] > li > fieldset[data-layout=grid1],
.entity-context ol[data-flavor=column-page] > li > fieldset[data-layout=grid1] {
  display: grid;
  column-gap: 1em;
  row-gap: 0.25em;
  grid-template-columns: minmax(0, 1fr);
}
.entity-context ol[data-flavor=page] > li > fieldset,
.entity-context ol[data-flavor=column-page] > li > fieldset {
  margin-top: 1em;
}
.entity-context ol[data-flavor=page] > li > fieldset > legend,
.entity-context ol[data-flavor=column-page] > li > fieldset > legend {
  position: absolute;
  font-variant: small-caps;
  top: 0;
  left: -20px;
  text-align: right;
  width: 5em;
  margin-left: -5em;
}
@media (min-width: 1200px) {
  .entity-context ol[data-flavor=page] > li > fieldset > legend,
.entity-context ol[data-flavor=column-page] > li > fieldset > legend {
    display: block;
  }
}
.entity-context ol[data-flavor=page] > li > fieldset > .entity-relation.is-empty > ol:before,
.entity-context ol[data-flavor=column-page] > li > fieldset > .entity-relation.is-empty > ol:before,
.entity-context ol[data-flavor=block] > li > fieldset > .entity-relation.is-empty > ol:before {
  font-style: italic;
  content: "none";
}
.entity-context .entity-relation.is-empty > ol[data-flavor=page]:before,
.entity-context .entity-relation.is-empty > ol[data-flavor=column-page]:before {
  font-style: italic;
  content: "no results";
}
.entity-context label {
  display: block;
  /* labels are inline by default */
  margin-bottom: 0;
  font-variant: small-caps;
  text-transform: lowercase;
  color: #ccc;
  font-weight: bold;
}
.entity-context .entity-relation-name-view span:not(:first-child) {
  font-size: 0.75em;
  white-space: pre;
}
.entity-context .entity-relation-name-view span:not(:first-child).entity-relation-name-fk-column-shared {
  display: none;
}
.entity-context .entity-relation-name-view span:not(:first-child).entity-relation-name-part:before {
  content: " in ";
}
.entity-context .entity-relation-name-view span:not(:first-child).entity-relation-name-fk-column-distinctive:before {
  content: " via ";
}
.entity-context .entity-relation-name-view span:not(:first-child).entity-relation-name-fk-column-distinctive + .entity-relation-name-fk-column-distinctive:before {
  content: ", ";
}
.entity-context .entity-relation-name-view span:not(:first-child).entity-relation-name-fk-column-order:before {
  content: " ordered by ";
}
.entity-context .entity-relation-name-view span:not(:first-child).entity-relation-name-fk-column-order + .entity-relation-name-fk-column-order:before {
  content: ", ";
}
.entity-context .entity-column > label {
  font-size: 0.8em;
}
.entity-context .entity-column > div {
  display: flex;
}
.entity-context .entity-column[data-css-type=guid] .entity-column-content {
  font-size: 0.7em;
  margin-top: 0.3em;
}
.entity-context .entity-column .entity-column-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.25em;
  flex: 1 1 0;
}
.entity-context .entity-column[data-is-focus-column] .entity-column-content {
  white-space: pre-wrap;
}
.entity-context .entity-column.entity-column-editable .entity-column-content {
  margin-left: -4px;
  padding-left: 4px;
  outline: 1px solid #ccc;
}
.entity-context .entity-column.entity-column-editable button {
  border: 1px solid #ccc;
  outline: 1px solid #ccc;
}
.entity-context .entity-column.entity-column-editing .entity-column-content {
  margin-left: -4px;
  padding-left: 4px;
  text-overflow: initial;
  background: white;
}
.entity-context .entity-column.entity-column-editing .entity-column-content > textarea {
  width: 100%;
  min-height: 6em;
}
.entity-context .entity-column.entity-column-editing .entity-column-content > span:focus, .entity-context .entity-column.entity-column-editing .entity-column-content > span:focus-visible {
  outline: none;
}
.entity-context .null-value:before {
  font-style: italic;
  content: "null";
}
.entity-context .empty-value:before {
  font-style: italic;
  content: "empty";
}
.entity-context .ws-value:before {
  font-style: italic;
  content: "whitespace";
}
.entity-context .entity-thumb {
  font-variant: small-caps;
  font-weight: 900;
  /* a whole space is way too much, so we go with a tiny margin */
  margin-right: 0.12em;
}
.entity-context ol[data-flavor=block] > li.list-marker-ellipsis {
  display: none;
}
.entity-context ol[data-flavor=breadcrumb] label, .entity-context ol[data-flavor=breadcrumb] legend, .entity-context ol[data-flavor=breadcrumb] .relation.is-empty > ul, .entity-context ol[data-flavor=breadcrumb] .relation.is-empty > ol, .entity-context ol[data-flavor=breadcrumb] .null-value, .entity-context ol[data-flavor=breadcrumb] .empty-value, .entity-context ol[data-flavor=breadcrumb] .ws-value,
.entity-context ol[data-flavor=inline] label,
.entity-context ol[data-flavor=inline] legend,
.entity-context ol[data-flavor=inline] .relation.is-empty > ul,
.entity-context ol[data-flavor=inline] .relation.is-empty > ol,
.entity-context ol[data-flavor=inline] .null-value,
.entity-context ol[data-flavor=inline] .empty-value,
.entity-context ol[data-flavor=inline] .ws-value,
.entity-context ol[data-flavor=flow1] label,
.entity-context ol[data-flavor=flow1] legend,
.entity-context ol[data-flavor=flow1] .relation.is-empty > ul,
.entity-context ol[data-flavor=flow1] .relation.is-empty > ol,
.entity-context ol[data-flavor=flow1] .null-value,
.entity-context ol[data-flavor=flow1] .empty-value,
.entity-context ol[data-flavor=flow1] .ws-value,
.entity-context ol[data-flavor=flow3] label,
.entity-context ol[data-flavor=flow3] legend,
.entity-context ol[data-flavor=flow3] .relation.is-empty > ul,
.entity-context ol[data-flavor=flow3] .relation.is-empty > ol,
.entity-context ol[data-flavor=flow3] .null-value,
.entity-context ol[data-flavor=flow3] .empty-value,
.entity-context ol[data-flavor=flow3] .ws-value {
  display: none;
}
.entity-context ol[data-flavor=flow3] {
  display: grid;
  column-gap: 1em;
  row-gap: 0.25em;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
}
.entity-context ol[data-flavor=flow3] > li,
.entity-context ol[data-flavor=flow1] > li {
  background-color: var(--entity-bg-1);
  padding: 0.125em 0.5em;
  border-radius: 5px;
  position: relative;
}
.entity-context ol[data-flavor=flow3] > li > header > a::after,
.entity-context ol[data-flavor=flow1] > li > header > a::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: rgba(0, 0, 0, 0);
}
.entity-context ol[data-flavor=flow3] > li.list-marker-ellipsis,
.entity-context ol[data-flavor=flow1] > li.list-marker-ellipsis {
  background-color: var(--entity-bg-prev);
  height: 32px;
  width: 32px;
  border-radius: 0;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  clip-path: path("M 24 27.999 C 24 29.325 22.925 30.4 21.599 30.4 C 20.273 30.4 19.198 29.325 19.198 27.999 C 19.198 26.673 20.273 25.598 21.599 25.598 C 22.925 25.598 24 26.673 24 27.999 Z M 30.402 27.999 C 30.402 29.325 29.327 30.4 28.001 30.4 C 26.675 30.4 25.6 29.325 25.6 27.999 C 25.6 26.673 26.675 25.598 28.001 25.598 C 29.327 25.598 30.402 26.673 30.402 27.999 Z M 17.6 28 C 17.6 29.325 16.525 30.4 15.2 30.4 C 13.875 30.4 12.8 29.325 12.8 28 C 12.8 26.675 13.875 25.6 15.2 25.6 C 16.525 25.6 17.6 26.675 17.6 28 Z M 33.6 33.6 L 33.6 0 L 32 0 L 0 32 L 0 33.6 L 32 33.6 L 33.6 33.6 Z");
}
.entity-context ol[data-flavor=inline] {
  font-size: 0.75em;
}
.entity-context ol[data-flavor=inline] > li {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.entity-context ol[data-flavor=inline] > li:before {
  content: "in ";
}
.entity-context ol[data-flavor=inline] > li * {
  display: inline;
}
.entity-context .relation.is-empty {
  display: none;
}
