
//$border-color: #f8f8f8;

$border-color: #eee;

.search-panel-spacer {
    height: calc(var(--search-height) + var(--validation-height));
}

@media (min-width: 768px) {
    .search-panel-spacer {
        height: 0;
    }
}

.search-panel {
    &.show {
        position: fixed;
        background: white;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 3;
        padding: .5em 0;
        margin: 0 -1px;

        > *:not(.indexes-form) {
            padding: 0 15px;
        }

        .index.no-index {
            display: none;
        }
    }

    .validation-area {
        position: absolute;
        left: 1px;
        right: 1px;
        background: white;
        padding: 0 1em;
        text-align: right;
        z-index: 1;
    }

    .validation-display {
        font-size: .75em;
        font-weight: bold;
    }

    .more-search-options-button {
        display: none;
        text-align: right;
        cursor: pointer;
    }

    .search-panel-close-button {
        display: block;
    }

    &:not(.show) {
        .search-panel-close-button {
            display: none;
        }

        > *:not(.indexes-form) {
            visibility: hidden;
            pointer-events: none;

            @media (min-width: 768px) {
                visibility: visible;
                pointer-events: all;
            }
        }


        .indexes-form {
            position: absolute;
            visibility: hidden;

            .index.current {
                position: fixed;
                visibility: visible;
                top: var(--header-height);
                z-index: 2;
                left: -1px;
                right: -1px;
            }

            .more-search-options-button {
                display: block;
            }

            @media (min-width: 768px) {
                /* relative for validation display positioning */
                position: relative;
                visibility: visible;

                .index.current {
                    position: static;
                }

                .more-search-options-button {
                    display: none;
                }

                .index.no-index {
                    display: none;
                }
            }
        }
    }
}

.indexes-unsupported {
    font-size: 1em;
    margin-top: 1em;

    .unsupported-index {
    }

    .index-name {
        font-variant: small-caps;
        font-weight: bold;
        text-transform: lowercase;
        line-height: 1em;
    }

    .unsupported-tag {
        font-weight: bold;
        margin-top: 1em;
    }

    .unsupported-reason {
        font-size: .8em;
        margin-bottom: .5em;
    }
}

.indexes-form {
    .outline-none,
    .outline-none:focus {
        outline: none;
    }

    .index {
        /* font-size: .75rem;
        line-height: 1rem; */
        --bs-link-color: #ccc;
        --bs-link-hover-color: #ccc;
        display: block;
        margin-top: -1px;
    }

    fieldset {
        overflow-x: auto;
    }

    .index-columns {
        min-height: 2em;
    }

    .index-column {
        white-space: nowrap;
        background: white;
        flex: 1 1 auto;
        border: 1px solid $border-color;
        position: relative;
    }

    .no-index-column {
        justify-content: center;
        text-transform: uppercase;
    }

    .index.current .index-column {
        height: var(--search-height);
    }

    .index-column-error {
        border-color: red;
        z-index: 1;
    }

    .index-column:not(:first-child) {
        border-left: 0 !important;
    }

    .index-column-name {
        height: 17px;
        pointer-events: none;
        padding: 0 .5rem;
        font-variant: small-caps;
        color: #ccc;
        font-weight: bold;
        text-transform: lowercase;
        font-size: .8rem;
    }

    .index-column-value {
        min-height: 1rem;
        white-space: nowrap;
        padding: .25rem .5rem;
        border: none;
        outline: none;
        display: block;
        background: transparent;
        position: absolute;
        bottom: 0px;
        right: 0px;
        left: 0px;
    }

    .index-column-value:not(:empty) + .index-column-name {
        opacity: 0;
    }
}
