<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link text-muted" href="/">Databases</a></li>
                @NavItems
            </ul>
            <div class="d-flex align-self-start">
                @ActionItems
            </div>
        </div>
    </nav>
</header>

@ChildContent

@code {
    [Parameter]
    public RenderFragment NavItems { get; set; }

    [Parameter]
    public RenderFragment ActionItems { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
