@typeparam T

<div>
    <div>@Header</div>
    @foreach (var item in Items)
    {
        @Template(item)
    }
</div>

@code {
    [Parameter]
    public RenderFragment Header { get; set; }

    [Parameter]
    public RenderFragment<T> Template { get; set; }

    [Parameter]
    public T[] Items { get; set; }
}
