
<div class="layout">
    <div class="left">
        <div>
            &nbsp;@LeftContent
        </div>
    </div>
    <div class="middle">
        <div class="squil-container">
            @ChildContent
        </div>
    </div>
    <div class="right">
        <div class="position-sticky" style="top: 72px">
            &nbsp;@RightContent
        </div>
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment LeftContent { get; set; }

    [Parameter]
    public RenderFragment RightContent { get; set; }
}
