@inherits LayoutComponentBase

<PageTitle>SQuiL</PageTitle>

<a class="github-fork-ribbon" href="https://github.com/jtheisen/squil" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>

@Body

<nav class="border-top navbar navbar-expand-sm footer text-muted">
    <div class="container-fluid">
        <ul class="flex-fill nav navbar-nav mr-auto">
            <li class="nav-item mr-auto">
                <span class="navbar-text">SQuiL &copy; @DateTime.Now.Year - Jens Theisen</span>
            </li>
            <li class="nav-item"><a class="nav-link text-muted" href="https://squil.net">Introduction</a></li>
            <li class="nav-item"><a class="nav-link text-muted d-none d-md-block" href="https://github.com/jtheisen/squil">Github</a></li>
        </ul>
    </div>
</nav>
